.allPlayerCards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2em;
}

.button {
    /*width: 40%;*/
    padding-bottom: 1em;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 2em;
}

.gameTitle {

}

.playersBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.playersLabel {
    /*text-align: center;*/
}

.textField {
    width: 4em;
}