.assignmentImage {
    max-width: 50%;
}

.button {
    text-align: center;
    padding: 0 1em;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1em;
    padding: 2em;
}

.gameButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameTitle {
    padding-bottom: 1em;
}

.mafiaBox {
    width: inherit;
    text-align: center;
    padding: 4em;
}

.mafiaDeclaration {
    padding-bottom: 2em;
}

.mafiaMembersLabel {
    font-size: 1em;
}

.playersBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.waitingGrid {
    display: inline-grid;
    grid-template-columns: 1fr fit-content(100%) 1fr;
}

.waitingBoxMessage {
    width: fit-content;
    justify-self: center;
}

.loadingDots {
    margin: 0;
}

.waitingBoxRightContainer {
    width: fit-content;
    justify-self: start;
}