.backToNameChange {
    text-align: left;
    padding: 1em;
}

.createLobbyButton {
    width: inherit;
    text-align: center;
    padding-bottom: 2em;
}

.homeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.nameRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navLink {
    text-decoration: none;
}

.signedInAsText {
    text-align: right;
    padding: 1em;
}