.card {
    width: 25vw;
    height: 20vw;
    margin: 1em;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cardNumPlayers {
    text-align: center;
}

.cardTitle {
    text-align: center;
}

.openGameText {
    color: green;
    text-align: center;
    font-size: large;
}

.inProgressGameText {
    color: orange;
    text-align: center;
}

.joinButton {
    text-align: center;
}