.card {
    width: 175px;
    height: 250px;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.cardBody {
    font-size: 3em;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.cardNumPlayers {
    text-align: center;
}

.cardTitle {
    text-align: center;
}

.openGameText {
    color: green;
    text-align: center;
}

.inProgressGameText {
    color: orange;
    text-align: center;
}

.joinButton {
    text-align: center;
}